$uiVerticalCard: ".ui-vertical-card";

#{$uiVerticalCard} {
  position: relative;
  &__overlay-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &:hover,
    &:focus {
      ~ #{$uiVerticalCard} {
        &__wrapper {
          #{$uiVerticalCard} {
            &__title {
              color: $blue1;
              text-decoration-color: $blue1;
            }
            &__img-wrapper {
              #{$uiVerticalCard} {
                &__img-text-icon {
                  opacity: 1;
                  pointer-events: all;
                }
              }
            }
            &__img-wrapper {
              #{$uiVerticalCard} {
                &__img {
                  transform: scale(1.025);
                }
              }
            }
          }
        }
      }
    }
  }
  &__wrapper {
  }

  &__img-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    margin-bottom: 20px;
    overflow: hidden;
    &::before {
      content: "";
      background: #0c5eed;
      opacity: 0.7;
    }
  }

  &__img-text-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(12, 94, 237, 0.7);

    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease;
  }

  &__img-text {
    margin-right: 20px;
    color: #fff;
  }

  &__img-icon {
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
  }

  &__content {
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    &-icon {
      margin-right: 12px;
    }
    &-number {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid #c4c8d2;
    }
    &-count {
    }
  }

  &__date-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
  }

  &__date {
    margin-right: 20px;
    color: #adb4c6;
  }

  &__tag {
    position: relative;
    z-index: 15;
  }

  &__title {
    margin-bottom: 5px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: all 0.3s ease;
  }
  &__subtitle {
    margin-bottom: 10px;
    color: $black2;
  }

  &__description {
    line-height: 23px;
    color: #686c77;
  }
  &_simple {
    #{$uiVerticalCard} {
      &__description {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  &_bg-gradient {
    height: 490px;
    #{$uiVerticalCard} {
      &__wrapper {
        height: 100%;
      }
      &__img-wrapper {
        aspect-ratio: unset;
        height: 100%;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(37, 39, 46, 0) 35.71%,
            rgba(37, 39, 46, 0.05) 44.92%,
            rgba(37, 39, 46, 0.5) 58.79%,
            rgba(37, 39, 46, 0.8) 76.45%,
            #25272e 100%
          );
        }
      }
      &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 30px 30px 30px;
        width: 100%;

        color: #fff;

        z-index: 20;
      }
      &__title {
        line-height: 28px;
      }
      &__overlay-link {
        &:hover,
        &:focus {
          ~ #{$uiVerticalCard} {
            &__wrapper {
              #{$uiVerticalCard} {
                &__title {
                  color: #fff;
                  text-decoration-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
