$uiVerticalCard: '.ui-vertical-card';

#{$uiVerticalCard} {
  position: relative;
  &__overlay-link {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include media('<=tablet') {
      z-index: 15;
    }
    &:hover,
    &:focus {
      ~ #{$uiVerticalCard} {
        &__wrapper {
          #{$uiVerticalCard} {
            &__title {
              color: $blue1;
              text-decoration-color: $blue1;
            }
            &__img-wrapper {
              #{$uiVerticalCard} {
                &__img-text-icon {
                  opacity: 1;
                  @include media('<=tablet') {
                    display: none;
                  }
                }
              }
            }
            &__img-wrapper {
              #{$uiVerticalCard} {
                &__img {
                  transform: scale(1.025);
                }
              }
            }
          }
        }
      }
    }
  }
  &__wrapper {
  }

  &__overlay-description {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    @include media('<=tablet') {
      display: block;
      z-index: 10;
    }
  }

  &__img-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    margin-bottom: 20px;
    overflow: hidden;
    @include media('<=tablet') {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;

      width: 100%;
      height: 100%;

      background: #0c5eed;
      opacity: 0;
      @include media('<=tablet') {
        opacity: 1;
        z-index: 5;
        background: linear-gradient(180deg, rgba(37, 39, 46, 0) 35.71%, rgba(37, 39, 46, 0.05) 44.92%, rgba(37, 39, 46, 0.5) 58.79%, rgba(37, 39, 46, 0.8) 76.45%, #25272e 100%);
      }
    }
  }

  &__img-text-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(12, 94, 237, 0.7);

    opacity: 0;
    pointer-events: none;
    z-index: 2;

    transition: all 0.3s ease;
  }

  &__img-text {
    margin-right: 20px;
    color: #fff;
  }

  &__img-icon {
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.3s ease;
  }

  &__content {
    @include media('<=tablet') {
      display: none;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    &-icon {
      margin-right: 12px;
    }
    &-number {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid #c4c8d2;
    }
    &-count {
    }
  }

  &__date-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
  }

  &__date {
    margin-right: 20px;
    color: #adb4c6;
  }

  &__tag {
    position: relative;
    z-index: 15;
  }

  &__title {
    margin-bottom: 5px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: all 0.3s ease;
  }
  &__subtitle {
    margin-bottom: 10px;
    color: $black2;
  }

  &__description {
    line-height: 23px;
    color: #686c77;
  }
  &_simple {
    #{$uiVerticalCard} {
      &__description {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  &_bg-gradient {
    height: 490px;
    @include media('<=tablet') {
      height: auto;
      min-height: 240px;
      aspect-ratio: 1 / 1;
    }
    #{$uiVerticalCard} {
      &__wrapper {
        height: 100%;
      }
      &__img-wrapper {
        aspect-ratio: unset;
        height: 100%;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(37, 39, 46, 0) 35.71%, rgba(37, 39, 46, 0.05) 44.92%, rgba(37, 39, 46, 0.5) 58.79%, rgba(37, 39, 46, 0.8) 76.45%, #25272e 100%);
        }
      }
      &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 30px 30px 30px;
        width: 100%;

        color: #fff;

        z-index: 20;
        @include media('<=tablet') {
          display: block;
          padding: 0 20px 20px 20px;
        }
      }
      &__title {
        line-height: 28px;
        @include media('<=tablet') {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
      }
      &__description {
        @include media('<=tablet') {
          color: #c4c8d2;
          font-size: 12px;
          line-height: 19px;
        }
      }
      &__rating {
        @include media('<=tablet') {
          margin-bottom: 5px;
        }
      }
      &__rating-number {
        @include media('<=tablet') {
          margin-right: 10px;
          padding-right: 10px;
          font-size: 13px;
          line-height: 21px;
        }
      }
      &__rating-count {
        @include media('<=tablet') {
          font-size: 13px;
          line-height: 21px;
        }
      }
      &__overlay-link {
        @include media('<=tablet') {
          z-index: 50;
        }
        &:hover,
        &:focus {
          ~ #{$uiVerticalCard} {
            &__wrapper {
              #{$uiVerticalCard} {
                &__title {
                  color: #fff;
                  text-decoration-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
