$black1: #1d1e1f;
$black2: #292b33;
$black3: #3d3e40;
$grey1: #686c77;
$grey2: #c4c8d2;
$grey3: #dbe0e4;
$grey4: #858688;
$grey5: #f0f2f5;
$blue1: #0c5eed;
$blue2: #6799f0;
$green1: #21ad7b;
$red1: #cf4660;
