$searchForm: '.search-form';

.search-form {
  padding: 50px;
  background-color: $grey5;

  &__title {
    margin-bottom: 40px;
  }

  &__group {
    width: 100%;
    margin-bottom: 30px;

    &_button {
      margin-bottom: 35px;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_kolonki {
    #{$searchForm} {
      &__title {
        margin-bottom: 20px;
      }
      &__group {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &_urists {
    #{$searchForm} {
      &__title {
        margin-bottom: 20px;
        &-second {
          margin-top: 35px;
        }
      }
      &__group {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
