.metodologi {
  &__container {
  }

  &__title {
    padding-bottom: 50px;
    margin-bottom: 40px;
    border-bottom: 1px solid $grey3;
  }

  &__content {
    display: grid;
    grid-template-columns: 291px 1fr;
    column-gap: 110px;
    color: $black2;
   }

  &__content-left {
    flex: 0 0 400px;
  }

  &__content-right {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 570px;
    p {
      &:nth-child(1) {
        flex: 1 1 100%;
        margin-bottom: 50px;
      }
      &:nth-child(2) {
        flex: 0 1 370px;
        margin-right: 30px;
      }
      &:nth-child(3) {
        flex: 1 0 calc(100% - 400px);
      }
    }
  }
}
