$header: ".header";

#{$header} {
  &_margin {
    margin-bottom: 60px;
  }
  &__top {
    padding-top: 25px;
    padding-bottom: 30px;
    &-container {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    display: inline-block;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #e6e6e6;
  }
  &__search {
    position: relative;
    align-self: stretch;
    flex: 0 1 400px;
    transition: all 0.3s ease;
    &-input {
      border: 0;
      width: 100%;
      height: 100%;

      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #85909f;

      transition: inherit;
      &:hover,
      &:focus {
        ~ #{$header} {
          &__search-icon {
            fill: $blue1;
          }
        }
      }
    }
    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      fill: black;
      transition: inherit;
      cursor: pointer;
      &:hover {
        fill: $blue1;
      }
    }
  }
  &__contacts {
    margin-left: auto;
    &-description {
      margin-bottom: 2px;
      text-align: right;
      font-size: 12px;
      line-height: 15px;
      color: #85909f;
    }
    &-phone {
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      text-transform: uppercase;
    }
  }
  &__bottom {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    &-container {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }
    &-item {
      padding-top: 21px;
      padding-bottom: 21px;

      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:hover,
      &:focus {
        color: $blue1;
      }
    }
  }
}
