$modalSearch: '.modal-search';
$modalReview: '.modal-review';
$viewerModal: '.viewer-modal';
$modalSort: '.modal-sort';

#{$modalSearch} {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  padding: 200px 20px 0 20px;

  background-color: rgba(0, 0, 0, 0.7);

  z-index: -1;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;

  transition: all 0.3s ease;

  @include media('<=desktop') {
    display: none;
  }

  &.active {
    z-index: 200;
    opacity: 1;
    pointer-events: all;
    #{$modalSearch} {
      &__wrapper {
        transform: scale(1);
      }
    }
    @include media('<=desktop') {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: stretch;

    width: 100%;
    max-width: 770px;
    height: 60px;

    transform: scale(0.95);
    transition: all 0.3s ease;
    will-change: transform;
  }

  &__close-btn {
    position: absolute;
    top: -50px;
    right: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    will-change: transform;
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
  }

  &__input {
    background-color: #fff;
    border: 0;
    width: 74%;
    flex: 0 1 74%;
    padding-left: 30px;
    padding-right: 30px;
    color: $grey1;
  }

  &__button {
    flex: 1 1 auto;
  }
}

#{$modalReview} {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 200px 20px 20px 20px;
  background-color: transparent;

  z-index: -1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, z-index;

  transition: all 0.3s ease;

  @include media('<=tablet') {
    top: unset;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    opacity: 1;
  }

  &.active {
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
    overflow-y: auto;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    #{$modalReview} {
      &__wrapper {
        transform: scale(1);
        top: 0;
      }
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 570px;
    padding: 50px 70px 70px 70px;

    background-color: $grey5;

    transform: scale(0.95);
    transition: all 0.3s ease;
    will-change: transform;
    @include media('<=tablet') {
      margin-top: auto;
      max-width: unset;
      padding: 20px 15px;
      transform: scale(1);
      top: 70%;
    }
  }

  &__title {
    margin-bottom: 40px;
    @include media('<=tablet') {
      margin-bottom: 30px;
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__group {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__rating-star {
    margin: 0 0 25px 0;
    @include media('<=tablet') {
      margin-bottom: 30px;
    }
  }

  &__close-btn {
    position: absolute;
    top: -50px;
    right: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    will-change: transform;
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    @include media('<=tablet') {
      top: 20px;
      right: 20px;
      filter: invert(100%) grayscale(1);
    }
  }
}

#{$modalSort} {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: transparent;

  z-index: -1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, z-index;

  transition: all 0.3s ease;

  @include media('<=tablet') {
    top: unset;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    opacity: 1;
  }

  &.active {
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
    overflow-y: auto;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    #{$modalSort} {
      &__wrapper {
        transform: scale(1);
        top: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
    top: 30%;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 20px 15px;
    margin-top: auto;

    background-color: $grey5;

    transition: all 0.3s ease;
    will-change: transform;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
  }

  &__group {
    margin-bottom: 10px;
    width: 100%;
    &:first-child {
      padding-bottom: 10px;
      border-bottom: 1px solid $grey3;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    will-change: transform;
  }
}

#{$viewerModal} {
  .viewer-button {
    // background-color: transparent !important;
  }
}
