$horizontalSlider: '.horizontal-slider';

#{$horizontalSlider} {
  &__container {
    position: relative;
    overflow-x: hidden;
    @include media('<=desktop') {
      padding-right: 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 10px;
      width: 100%;
      height: 1px;
      background-color: #dbe0e4;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 46px;
    @include media('<=desktop') {
      margin-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__swiper {
    &.swiper {
      @include media('<=desktop') {
        padding-right: 15px;
      }
    }
    .swiper-wrapper {
    }
    .swiper-slide {
      overflow: hidden;
    }
    .swiper-button-prev {
    }
    .swiper-button-next {
    }
    .swiper-scrollbar {
    }
    #{$horizontalSlider} {
      &__bottom {
        display: flex;
        align-items: center;
        margin-top: 50px;
        @include media('<=tablet') {
          display: none;
        }
      }

      &__bottom-addition {
        display: none;
        margin-top: 20px;
        &-link {
          margin-left: auto;
        }
      }

      &__scrollbar {
        position: static;
        height: 1px;
        margin-right: 88px;
        margin-left: auto;
        flex: 0 1 570px;
        max-width: 570px;
        min-width: 300px;
        .swiper-scrollbar-drag {
          position: relative;
          background-color: $blue1;
          &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: transparent;
          }
        }
      }

      &__navigation {
        position: static;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 112px;
        flex: 0 0 112px;

        &-item {
          position: static;

          display: inline-flex;
          justify-content: center;
          align-items: center;

          width: 46px;
          flex: 0 0 46px;
          height: 46px;

          border: 1px solid #dbe0e4;
          border-radius: 50%;

          &_prev {
            margin-right: 20px;
          }
          &_next {
          }
          &-icon {
          }
        }
      }
    }
  }

  &_clear-title {
    #{$horizontalSlider} {
      &__container {
        &::before {
          display: none;
        }
      }
      &__title {
        display: block;
      }
    }
  }

  &_kolonki {
    #{$horizontalSlider} {
      &__title {
        @include media('<=desktop') {
          margin-bottom: 20px;
        }
      }
      &__container {
        margin-bottom: 40px;
        padding-bottom: 120px;
        border-bottom: 1px solid #dbe0e4;
        @include media('<=desktop') {
          margin-bottom: 30px;
          padding-bottom: 0;
          border-bottom: 0;
        }
        @include media('<=phone') {
          padding-right: 0;
        }
      }
    }
  }

  &_bg-item-gradients {
    .swiper {
    }
    #{$horizontalSlider} {
      &__container {
        &::before {
          display: none;
        }
        margin-bottom: 160px;
        @include media('<=desktop') {
          margin-bottom: 60px;
          padding-left: 15px;
          padding-right: 0;
        }
      }
      &__title {
        @include media('<=desktop') {
          margin-bottom: 30px;
          padding-left: 0;
          padding-right: 0;
        }
      }
      &__links {
        &_bottom {
          display: none;
          margin-top: 30px;
          margin-right: 15px;
          text-align: right;
          @include media('<=desktop') {
            display: block;
          }
        }
      }
    }
  }

  &_articles-page {
    #{$horizontalSlider} {
      &__container {
        padding-top: 30px;
        &::before {
          top: 0;
          right: 0;
          left: 20px;
          width: calc(100% - 40px);
          @include media('<=desktop') {
            display: none;
          }
        }
        @include media('<=desktop') {
          padding-top: 0;
          padding-right: 0;
        }
      }
      &__title {
        margin-bottom: 0;
        @include media('<=desktop') {
          padding-left: 0;
        }
        @include media('<=tablet') {
          font-size: 20px;
          line-height: 30px;
        }
      }
      &__header {
        @include media('<=desktop') {
          margin-bottom: 20px;
          padding: 0 15px 0 0;
        }
      }
      &__swiper {
        @include media('<=desktop') {
          padding-right: 15px;
        }
      }
      &__link-text-with-icon {
      }
      
      &__bottom-addition {
        @include media('<=desktop') {
          padding-right: 15px;
        }
        &-link {
          
        }
      }
    }
  }
}
