$cropedSlider: '.croped-slider';

#{$cropedSlider} {
  &__container {
  }

  &__title {
    margin-bottom: 30px;
    @include media('<=desktop') {
      margin-bottom: 20px;
    }
  }

  &__swiper {
    overflow: visible;
    clip-path: inset(-100vw -100vw -100vw 0);
    &.swiper {
      @include media('<=desktop') {
        padding-right: 15px;
      }
    }
    .swiper-wrapper {
    }
    .swiper-slide {
      position: relative;
      padding-bottom: 38.5%;
      overflow: hidden;
      @include media('<=tablet') {
        padding-bottom: 65.5%;
      }
    }
    .swiper-button-prev {
    }
    .swiper-button-next {
    }
    .swiper-scrollbar {
    }
    #{$cropedSlider} {
      &__bottom {
        display: flex;
        align-items: center;
        margin-top: 40px;
        @include media('<=tablet') {
          display: none;
        }
      }

      &__bottom-addition {
        display: none;
        margin-top: 20px;
        &-link {
          margin-left: auto;
        }
      }

      &__scrollbar {
        position: static;
        height: 1px;
        margin-right: 88px;
        margin-left: 0;
        flex: 0 1 570px;
        max-width: 570px;
        min-width: 300px;
        .swiper-scrollbar-drag {
          position: relative;
          background-color: $blue1;
          &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: transparent;
          }
        }
      }

      &__navigation {
        position: static;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 112px;
        flex: 0 0 112px;

        &-item {
          position: static;

          display: inline-flex;
          justify-content: center;
          align-items: center;

          width: 46px;
          flex: 0 0 46px;
          height: 46px;

          border: 1px solid #dbe0e4;
          border-radius: 50%;

          &_prev {
            margin-right: 20px;
          }
          &_next {
          }
          &-icon {
          }
        }
      }
    }
  }

  &__swiper-image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;

    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  &__bottom {
  }

  &__scrollbar {
  }

  &__navigation {
  }

  &__navigation-item {
    &_prev {
    }

    &_next {
    }
  }

  &_full-width {
    #{$cropedSlider} {
      &__swiper {
        overflow: visible;
        clip-path: unset;
        &.swiper {
          @include media('<=desktop') {
            padding-right: 15px;
          }
        }
        .swiper-wrapper {
        }
        .swiper-slide {
          position: relative;
          padding-bottom: 38.5%;
          overflow: hidden;
          @include media('<=tablet') {
            padding-bottom: 65.5%;
          }
        }
        .swiper-button-prev {
        }
        .swiper-button-next {
        }
        .swiper-scrollbar {
        }
        #{$cropedSlider} {
          &__bottom {
            display: flex;
            align-items: center;
            margin-top: 40px;
            @include media('<=tablet') {
              display: none;
            }
          }

          &__bottom-addition {
            display: none;
            margin-top: 20px;
            &-link {
              margin-left: auto;
            }
          }

          &__scrollbar {
            position: static;
            height: 1px;
            margin-right: 88px;
            margin-left: 0;
            flex: 0 1 570px;
            max-width: 570px;
            min-width: 300px;
            .swiper-scrollbar-drag {
              position: relative;
              background-color: $blue1;
              &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                width: 100%;
                height: 20px;
                background-color: transparent;
              }
            }
          }

          &__navigation {
            position: static;

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 112px;
            flex: 0 0 112px;

            &-item {
              position: static;

              display: inline-flex;
              justify-content: center;
              align-items: center;

              width: 46px;
              flex: 0 0 46px;
              height: 46px;

              border: 1px solid #dbe0e4;
              border-radius: 50%;

              &_prev {
                margin-right: 20px;
              }
              &_next {
              }
              &-icon {
              }
            }
          }
        }
      }
    }
  }
}
