$verticalSteps: '.vertical-steps';

#{$verticalSteps} {
  &__container {
    display: grid;
    grid-template-columns: minmax(300px, 370px) minmax(650px, 770px);
    column-gap: 30px;
    margin-bottom: 160px;
    @include media('<=desktop') {
      display: block;
      margin-bottom: 61px;
      padding-right: 0;
    }
  }

  &__title {
    @include media('<=desktop') {
      margin-bottom: 30px;
    }
  }

  &__swiper {
    @include media('<=desktop') {
      padding-right: 10px;
    }
    &.swiper {
    }
    .swiper-wrapper {
      display: block;
      height: auto;
      @include media('<=desktop') {
        display: flex;
        height: 100%;
      }
    }
    .swiper-slide {
    }
    .swiper-button-prev {
    }
    .swiper-button-next {
    }
    .swiper-scrollbar {
    }
  }

  &__content {
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 170px minmax((450px, 1fr));
    column-gap: 50px;
    margin-bottom: 120px;
    @include media('<=desktop') {
      display: block;
      margin-bottom: 0;
      overflow: hidden;
      height: auto;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      #{$verticalSteps} {
        &__item-number {
          &::before {
            display: none;
          }
        }
      }
    }
    &:last-child {
      #{$verticalSteps} {
        &__item-number {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__item-overflow-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
    &:hover,
    &:focus {
      ~ #{$verticalSteps} {
         &__item-number {
          background-color: $blue1;
          color: #fff;
        }
        &__item-content {
          #{$verticalSteps} {
            &__item-title {
              text-decoration-color: $blue1;
            }
          }
        }
      }
    }
  }

  &__item-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    line-height: 42px;
    color: $blue1;

    height: 170px;
    border: 1px solid $blue1;
    z-index: 20;

    background-color: #fff;

    transition: all 0.3s ease;

    @include media('<=desktop') {
      font-size: 13px;
      line-height: 18px;
      height: 50px;
      width: 50px;
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -11px;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #fff;
      z-index: 10;
      @include media('<=desktop') {
        display: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 11px);
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 200px;
      background-color: #c4c8d2;
      z-index: 5;
      @include media('<=desktop') {
        transform: unset;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 10px);
        width: 100vw;
        height: 1px;
      }
    }
  }

  &__item-content {
  }

  &__item-title {
    display: block;
    margin-bottom: 16px;
    color: $blue1;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: all 0.3s ease;
    @include media('<=desktop') {
      margin-bottom: 15px;
    }
    @include media('<=tablet') {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__item-list {
    position: relative;
    padding-left: 25px;
    color: $black2;
    font-size: 16px;
    line-height: 33px;
    list-style-type: decimal;
    z-index: 35;
    @include media('<=tablet') {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__item-list-element {
    @include media('<=tablet') {
      margin-bottom: 10px;
    }
    &:last-child {
      @include media('<=tablet') {
        margin-bottom: 0;
      }
    }
    a {
      position: relative;
      z-index: 30;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
