$gridSlider: '.grid-slider';

#{$gridSlider} {
  &__container {
    display: grid;
    grid-template-columns: minmax(300px, 370px) minmax(650px, 770px);
    column-gap: 30px;
    margin-bottom: 160px;
    @include media('<=desktop') {
      display: block;
      margin-bottom: 60px;
      padding-right: 0;
    }
  }

  &__title-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include media('<=desktop') {
      margin-bottom: 30px;
    }
  }

  &__link {
    margin-bottom: 95px;
    @include media('<=desktop') {
      display: none;
    }
    &_bottom {
      display: none;
      margin-top: 30px;
      text-align: right;
      margin-right: 15px;
      @include media('<=desktop') {
        display: block;
      }
    }
  }

  &__elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid $grey5;
    border-bottom: 1px solid $grey5;
    @include media('<=desktop') {
      display: flex;
      border-right: 0;
      border-bottom: 0;
    }
    &_mobile {
      display: none;
      @include media('<=desktop') {
        display: flex;
        border: 1px solid $grey2;
        position: relative;
        margin-left: -1px;
      }
    }
    &_desktop {
      @include media('<=desktop') {
        display: none;
      }
    }
  }

  &__swiper-with-actions {
    max-width: 770px;
    @include media('<=desktop') {
      max-width: unset;
    }
  }

  &__swiper {
    &.swiper {
    }
  }

  .swiper-wrapper {
    @include media('<=desktop') {
      padding-right: 10px;
      padding-left: 1px;
    }
  }

  &__element {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 60px 60px 55px 60px;
    min-height: 385px;
    color: $black1;
    transition: all 0.3s ease;
    overflow: auto;
    border: 1px solid #c4c8d2;
    margin: 0 -1px -1px 0;
    @supports (aspect-ratio: 1) {
      min-height: unset;
      aspect-ratio: 1;
    }
    &:hover,
    &:focus {
      background-color: $grey5;
      #{$gridSlider} {
        &__element-brand-icon {
          transform: unset;
          left: 60px;
          top: 110px;
        }
        &__element-content {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    @include media('<=desktop') {
      width: 100%;
      justify-content: flex-start;
      margin: 0;
      border: 0;
    }
    @include media('<=tablet') {
      padding: 32px 20px 10px 20px;
    }
  }

  &__element-brand-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    pointer-events: none;
    @include media('<=desktop') {
      position: static;
      transform: unset;
      margin-bottom: 15px;
      width: 100px;
      height: auto;
    }
  }

  &__element-content {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s ease;
    @include media('<=desktop') {
      opacity: 1;
      transform: unset;
    }
  }

  &__element-name {
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s ease;
    text-underline-offset: 2px;
    @include media('<=desktop') {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__element-rating {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    @include media('<=desktop') {
      margin-bottom: 10px;
    }
    &-icon {
      margin-right: 12px;
      @include media('<=desktop') {
        width: 18px;
      }
    }
    &-number {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid #c4c8d2;
      @include media('<=desktop') {
        font-size: 13px;
        line-height: 21px;
      }
    }
    &-count {
      @include media('<=desktop') {
        font-size: 13px;
        line-height: 21px;
      }
    }
  }

  &__element-descrition {
    @include media('<=desktop') {
      font-size: 12px;
      line-height: 19px;
    }
  }

  #{$gridSlider} {
    &__bottom {
      display: flex;
      align-items: center;
      margin-top: 50px;
      @include media('<=desktop') {
        display: none;
      }
    }

    &__scrollbar {
      position: static;
      height: 1px;
      margin-right: 88px;
      margin-left: auto;
      flex: 0 1 570px;
      max-width: 570px;
      min-width: 300px;
      .swiper-scrollbar-drag {
        position: relative;
        background-color: $blue1;
        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: 0;
          width: 100%;
          height: 20px;
          background-color: transparent;
        }
      }
    }

    &__navigation {
      position: static;

      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 112px;
      flex: 0 0 112px;

      &-item {
        position: static;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 46px;
        flex: 0 0 46px;
        height: 46px;

        border: 1px solid #dbe0e4;
        border-radius: 50%;

        &_prev {
          margin-right: 20px;
        }
        &_next {
        }
        &-icon {
        }
      }
    }
  }
}
