$rating: '.rating';

#{$rating} {
  &__container {
    position: relative;
    margin-bottom: 160px;
    @include media('<=desktop') {
      margin-bottom: 60px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 10px;
      width: 100%;
      height: 1px;
      background-color: #dbe0e4;
      @include media('<=desktop') {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
    background-color: #fff;
    padding-right: 46px;
    @include media('<=desktop') {
      margin-bottom: 30px;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 40px;
    @include media('<=desktop') {
      margin-bottom: 20px;
    }
  }

  &__table-header {
    display: grid;
    grid-template-columns: 135px minmax(400px, 1fr) 170px 90px;
    column-gap: 30px;
    padding: 0 35px 35px 35px;
    border-bottom: 1px solid #c4c8d2;
    @include media('<=desktop') {
      grid-template-columns: minmax(60%, 1fr) 75px;
      padding: 0 0 23px 0;
    }
    &-col {
      &_position {
        @include media('<=desktop') {
          display: none;
        }
      }
      &_grade {
        @include media('<=desktop') {
          display: none;
        }
      }
    }
  }

  &__table-body {
  }

  &__table-row {
    display: grid;
    grid-template-columns: 135px minmax(400px, 1fr) 170px 90px;
    column-gap: 30px;
    padding: 18px 35px 10px 35px;
    border-bottom: 1px solid #c4c8d2;
    @include media('<=desktop') {
      grid-template-columns: minmax(60%, 1fr) 75px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__table-col {
    display: flex;
    align-items: center;
    &_number {
      padding-left: 30px;
      @include media('<=desktop') {
        display: none;
      }
    }
    &_company {
      &:hover,
      &:focus {
        .rating__table-text {
          color: $blue1;
        }
        .rating__table-icon {
          transform: scale(1.125);
        }
      }
    }
    &_rating {
      @include media('<=desktop') {
        display: none;
      }
    }
    &_reputation {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__table-icon-text {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
  }

  &__table-icon {
    margin-right: 26px;
    will-change: transform;
    transition: all 0.3s ease;
    @include media('<=desktop') {
      margin-right: 15px;
    }
  }

  &__table-text {
    font-weight: 600;
  }

  &__table-rating {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 15px;
    background-color: $grey1;
    &-icon {
      margin-right: 14px;
      min-width: 17px;
    }
    &_ok {
      background-color: #d1f4e8;
      stroke: #21ad7b;
      color: #21ad7b;
    }

    &_notok {
      background-color: #fee1e6;
      stroke: #cf4660;
      color: #cf4660;
    }
  }

  &__table-reputation-icon {
  }

  &__table-reputation-text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  &__bottom {
    text-align: right;
  }
  &__social {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &_page-rating {
    #{$rating} {
      &__container {
        padding-left: 0;
        padding-right: 0;
        @include media('<=desktop') {
          margin-bottom: 30px;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}
