$boxLink: '.box-link';

#{$boxLink} {
  position: relative;
  display: inline-block;
  background-color: #f9f9fb;
  &__wrapper {
    display: flex;
    padding: 30px 20px;
    text-align: left;
    @include media('<=tablet') {
      padding: 27px 20px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &:hover,
    &:focus {
      ~ #{$boxLink} {
        &__title {
          color: $blue1;
          text-decoration-color: $blue1;
        }
        &__border {
          background-color: $blue1;
        }
      }
    }
  }
  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  &__number {
    margin-right: 14px;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #cfd8e0;
    @include media('<=tablet') {
      align-self: center;
      font-size: 26px;
      line-height: 14px;
    }
  }

  &__title {
    line-height: 22px;
    font-weight: 500;
    color: #1d1e1f;
    text-underline-offset: 2px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s ease;
    @include media('<=tablet') {
      font-size: 13px;
      line-height: 18px;
    }
  }
}
