$uiHorizontalCard: '.ui-horizontal-card';

#{$uiHorizontalCard} {
  position: relative;
  &__overlay-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include media('<=tablet') {
      z-index: 15;
    }
    &:hover,
    &:focus {
      ~ #{$uiHorizontalCard} {
        &__wrapper {
          #{$uiHorizontalCard} {
            &__title {
              color: $blue1;
              text-decoration-color: $blue1;
            }
            &__img-wrapper {
              #{$uiHorizontalCard} {
                &__img-text-icon {
                  opacity: 1;
                  @include media('<=tablet') {
                    display: none;
                  }
                }
              }
            }
            &__img-wrapper {
              #{$uiHorizontalCard} {
                &__img {
                  transform: scale(1.025);
                }
              }
            }
          }
        }
      }
    }
  }
  &__wrapper {
    display: flex;
  }

  &__overlay-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;

    display: none;
    @include media('<=tablet') {
      display: block;
    }
  }

  &__img-wrapper {
    position: relative;
    max-width: 270px;
    flex: 0 1 270px;
    min-width: 270px;
    overflow: hidden;
    @include media('<=desktop') {
      max-width: unset;
      flex: 1 1 auto;
    }
    @include media('<=tablet') {
      min-width: unset;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: linear-gradient(180deg, rgba(37, 39, 46, 0) 35.71%, rgba(37, 39, 46, 0.05) 44.92%, rgba(37, 39, 46, 0.5) 58.79%, rgba(37, 39, 46, 0.8) 76.45%, #25272e 100%);
      }
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 30px;
    @include media('<=tablet') {
      display: none;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    transition: all .3s ease;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__city-rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__city {
    margin-right: 33px;
    font-weight: 600;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-icon {
    margin-right: 13px;
  }

  &__rating-number {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #c4c8d2;
  }

  &__rating-count {
  }

  &__description {
    margin-bottom: 25px;
  }

  &__link {
    font-weight: 600;
  }

  &__link-icon {
    margin-left: 20px;
  }
  &__features {
    margin-top: auto;
    padding: 14px 30px;
    list-style-type: none;
    background-color: #f9f9fb;
    &-item {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 23px;
      span {
        display: inline-block;
        &:nth-child(1) {
          font-weight: 700;
        }
        &:nth-child(2) {
          text-align: right;
          color: #525252;
        }
      }
    }
  }

  &_features {
    #{$uiHorizontalCard} {
      &__content {
        padding-top: 5px;
      }
    }
  }

  &__tags-date {
    display: flex;
    align-items: center;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-right: auto;
  }

  &__tag {
    position: relative;
    z-index: 10;
  }

  &__date {
    font-size: 12px;
    line-height: 20px;
    color: #adb4c6;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    padding: 0 20px 30px 30px;
    padding-right: 20px;

    color: #fff;
    @include media('<=tablet') {
      display: none;
    }
  }

  &_overlay {
    #{$uiHorizontalCard} {
      &__img-wrapper {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: 4;
          background: linear-gradient(180deg, rgba(37, 39, 46, 0) 35.71%, rgba(37, 39, 46, 0.05) 44.92%, rgba(37, 39, 46, 0.5) 58.79%, rgba(37, 39, 46, 0.8) 76.45%, #25272e 100%);
        }
      }
      &__overlay-title {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;
      }
      &__overlay-subtitle {
        font-size: 12px;
        line-height: 17px;
        color: $grey3;
      }
      &__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
      }
      &__content {
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 20px;
        background-color: #f9f9fb;
      }
    }
  }
}
