<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <!-- @@include("../blocks/modules/header/header.html")  -->
    @@include("../blocks/modules/welcome/welcome.html")
    @@include("../blocks/modules/top-news/top-news.html")
    @@include("../blocks/modules/vertical-steps/vertical-steps.html")
    <div class="square-links">
      <div class="container square-links__container">
        <div class="square-links__title-link">
          <p class="title title_2 square-links__title">
            СПРАВОЧНАЯ <br />
            ИНФОРМАЦИЯ <br />
            И ДОКУМЕНТЫ
          </p>

          <a href="/" class="link-text-with-icon square-links__link">
            <span class="link-text-with-icon__text">Все вопросы и ответы</span>
            <img width="18" height="18" src="./img/icons/icon-arrow45-blue.svg" alt="Все вопросы и ответы" class="link-text-with-icon__img" />
          </a>
        </div>

        <div class="square-links__links">
          <a href="/" class="square-links__links-item">
            <div class="square-links__links-item-content">
              <p class="title title_4 square-links__links-text">Как работает банкротство физических лиц?</p>
              <div class="title title_4 square-links__links-answer"><p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p></div>
              <svg class="square-links__links-icon" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H16V16.5" stroke-width="2" />
                <path d="M16 2.5L1 17.5" stroke-width="2" />
              </svg>
            </div>
          </a>

          <a href="/" class="square-links__links-item">
            <div class="square-links__links-item-content">
              <p class="title title_4 square-links__links-text">В каких ситуациях поможет банкроство?</p>
              <div class="title title_4 square-links__links-answer"><p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p></div>
              <svg class="square-links__links-icon" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H16V16.5" stroke-width="2" />
                <path d="M16 2.5L1 17.5" stroke-width="2" />
              </svg>
            </div>
          </a>

          <a href="/" class="square-links__links-item">
            <div class="square-links__links-item-content">
              <p class="title title_4 square-links__links-text">Законность, безопасность, прозрачность процедуры?</p>
              <div class="title title_4 square-links__links-answer"><p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p></div>
              <svg class="square-links__links-icon" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H16V16.5" stroke-width="2" />
                <path d="M16 2.5L1 17.5" stroke-width="2" />
              </svg>
            </div>
          </a>

          <a href="/" class="square-links__links-item">
            <div class="square-links__links-item-content">
              <p class="title title_4 square-links__links-text">Бланки документов для банкротства физических лиц</p>
              <div class="title title_4 square-links__links-answer"><p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p></div>
              <svg class="square-links__links-icon" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H16V16.5" stroke-width="2" />
                <path d="M16 2.5L1 17.5" stroke-width="2" />
              </svg>
            </div>
          </a>
        </div>

        <a href="/" class="link-text-with-icon square-links__link square-links__link_bottom">
          <span class="link-text-with-icon__text">Все вопросы и ответы</span>
          <img width="18" height="18" src="./img/icons/icon-arrow45-blue.svg" alt="Все вопросы и ответы" class="link-text-with-icon__img" />
        </a>
      </div>
    </div>
    @@include("../blocks/modules/rating/rating.html")

    <div class="square-links square-links_ui-vertical-card">
      <div class="container square-links__container">
        <div class="square-links__title-link">
          <p class="title title_2 square-links__title">
            ИНТЕРВЬЮ <br />
            ЮРИСТОВ
          </p>

          <a href="/" class="link-text-with-icon square-links__link">
            <span class="link-text-with-icon__text">Больше статьей</span>
            <img width="18" height="18" src="./img/icons/icon-arrow45-blue.svg" alt="Больше статьей" class="link-text-with-icon__img" />
          </a>
        </div>

        <div id="squareSwiper" class="swiper square-links__links">
          <div class="swiper-wrapper">
            <div class="swiper-slide ui-vertical-card ui-vertical-card_simple square-links__link-item">
              <a href="/" class="ui-vertical-card__overlay-link"></a>
              <div class="ui-vertical-card__wrapper">
                <div class="ui-vertical-card__img-wrapper">
                  <div class="ui-vertical-card__img-text-icon">
                    <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                    <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                  </div>
                  <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  <div class="overlay-description overlay-description_vertical-card ui-vertical-card__overlay-description">
                    <div class="overlay-description__wrapper">
                      <div class="overlay-description__main-content">
                        <p class="overlay-description__description">12 июля 2022</p>
                        <p class="title title_5 overlay-description__title">
                          Иванов Иван <br />
                          Иваныч
                        </p>
                      </div>
                      <div class="overlay-description__bottom">
                        <p class="overlay-description__bottom-description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui-vertical-card__content">
                  <div class="ui-vertical-card__date-tag">
                    <p class="text text_sm ui-vertical-card__date">12 июля 2022</p>
                  </div>
                  <p class="title title_4 ui-vertical-card__title">Иванов Иван Иваныч</p>
                  <p class="ui-vertical-card__description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide ui-vertical-card ui-vertical-card_simple square-links__link-item">
              <a href="/" class="ui-vertical-card__overlay-link"></a>
              <div class="ui-vertical-card__wrapper">
                <div class="ui-vertical-card__img-wrapper">
                  <div class="ui-vertical-card__img-text-icon">
                    <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                    <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                  </div>
                  <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  <div class="overlay-description overlay-description_vertical-card ui-vertical-card__overlay-description">
                    <div class="overlay-description__wrapper">
                      <div class="overlay-description__main-content">
                        <p class="overlay-description__description">12 июля 2022</p>
                        <p class="title title_5 overlay-description__title">
                          Иванов Иван <br />
                          Иваныч
                        </p>
                      </div>
                      <div class="overlay-description__bottom">
                        <p class="overlay-description__bottom-description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui-vertical-card__content">
                  <div class="ui-vertical-card__date-tag">
                    <p class="text text_sm ui-vertical-card__date">12 июля 2022</p>
                  </div>
                  <p class="title title_4 ui-vertical-card__title">Иванов Иван Иваныч</p>
                  <p class="ui-vertical-card__description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide ui-vertical-card ui-vertical-card_simple square-links__link-item">
              <a href="/" class="ui-vertical-card__overlay-link"></a>
              <div class="ui-vertical-card__wrapper">
                <div class="ui-vertical-card__img-wrapper">
                  <div class="ui-vertical-card__img-text-icon">
                    <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                    <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                  </div>
                  <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  <div class="overlay-description overlay-description_vertical-card ui-vertical-card__overlay-description">
                    <div class="overlay-description__wrapper">
                      <div class="overlay-description__main-content">
                        <p class="overlay-description__description">12 июля 2022</p>
                        <p class="title title_5 overlay-description__title">
                          Иванов Иван <br />
                          Иваныч
                        </p>
                      </div>
                      <div class="overlay-description__bottom">
                        <p class="overlay-description__bottom-description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui-vertical-card__content">
                  <div class="ui-vertical-card__date-tag">
                    <p class="text text_sm ui-vertical-card__date">12 июля 2022</p>
                  </div>
                  <p class="title title_4 ui-vertical-card__title">Иванов Иван Иваныч</p>
                  <p class="ui-vertical-card__description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide ui-vertical-card ui-vertical-card_simple square-links__link-item">
              <a href="/" class="ui-vertical-card__overlay-link"></a>
              <div class="ui-vertical-card__wrapper">
                <div class="ui-vertical-card__img-wrapper">
                  <div class="ui-vertical-card__img-text-icon">
                    <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                    <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                  </div>
                  <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  <div class="overlay-description overlay-description_vertical-card ui-vertical-card__overlay-description">
                    <div class="overlay-description__wrapper">
                      <div class="overlay-description__main-content">
                        <p class="overlay-description__description">12 июля 2022</p>
                        <p class="title title_5 overlay-description__title">
                          Иванов Иван <br />
                          Иваныч
                        </p>
                      </div>
                      <div class="overlay-description__bottom">
                        <p class="overlay-description__bottom-description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui-vertical-card__content">
                  <div class="ui-vertical-card__date-tag">
                    <p class="text text_sm ui-vertical-card__date">12 июля 2022</p>
                  </div>
                  <p class="title title_4 ui-vertical-card__title">Иванов Иван Иваныч</p>
                  <p class="ui-vertical-card__description">Пассивность в суде — знак согласия // ВС определит судьбу требований, против которых должник не возражал</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a href="/" class="link-text-with-icon square-links__link square-links__link_bottom">
          <span class="link-text-with-icon__text">Больше статьей</span>
          <img width="18" height="18" src="./img/icons/icon-arrow45-blue.svg" alt="Больше статьей" class="link-text-with-icon__img" />
        </a>
      </div>
    </div>

    @@include("../blocks/modules/have-questions/have-questions.html", {"classNames": "have-questions_home"}) @@include("../blocks/modules/grid-slider/grid-slider.html")

    <div class="horizontal-slider horizontal-slider_bg-item-gradients">
      <div class="container horizontal-slider__container">
        <p class="title title_2 horizontal-slider__title">
          СПЕЦИАЛИСТЫ <br />
          ПО БАНКРОТСТВУ
        </p>
        <div id="horiontalSwiper2" class="swiper horizontal-slider__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide horizontal-slider__slide">
              <div class="ui-vertical-card ui-vertical-card_bg-gradient">
                <a href="/" class="ui-vertical-card__overlay-link"></a>
                <div class="ui-vertical-card__wrapper">
                  <div class="ui-vertical-card__img-wrapper">
                    <div class="ui-vertical-card__img-text-icon">
                      <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                      <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                    </div>
                    <img src="./img/images/ui-horizontal-card-img-2.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  </div>

                  <div class="ui-vertical-card__content">
                    <p class="title title_5 ui-vertical-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-vertical-card__rating">
                      <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-vertical-card__rating-icon" />
                      <span class="ui-vertical-card__rating-number">4.1</span>
                      <span class="ui-vertical-card__rating-count">12 оценок</span>
                    </div>

                    <p class="text text_md ui-vertical-card__description">Вырезка информации о себе объемом 2-3 строки</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide horizontal-slider__slide">
              <div class="ui-vertical-card ui-vertical-card_bg-gradient">
                <a href="/" class="ui-vertical-card__overlay-link"></a>
                <div class="ui-vertical-card__wrapper">
                  <div class="ui-vertical-card__img-wrapper">
                    <div class="ui-vertical-card__img-text-icon">
                      <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                      <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                    </div>
                    <img src="./img/images/ui-horizontal-card-img-2.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  </div>

                  <div class="ui-vertical-card__content">
                    <p class="title title_5 ui-vertical-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-vertical-card__rating">
                      <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-vertical-card__rating-icon" />
                      <span class="ui-vertical-card__rating-number">4.1</span>
                      <span class="ui-vertical-card__rating-count">12 оценок</span>
                    </div>

                    <p class="text text_md ui-vertical-card__description">Вырезка информации о себе объемом 2-3 строки</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide horizontal-slider__slide">
              <div class="ui-vertical-card ui-vertical-card_bg-gradient">
                <a href="/" class="ui-vertical-card__overlay-link"></a>
                <div class="ui-vertical-card__wrapper">
                  <div class="ui-vertical-card__img-wrapper">
                    <div class="ui-vertical-card__img-text-icon">
                      <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                      <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                    </div>
                    <img src="./img/images/ui-horizontal-card-img-2.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  </div>

                  <div class="ui-vertical-card__content">
                    <p class="title title_5 ui-vertical-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-vertical-card__rating">
                      <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-vertical-card__rating-icon" />
                      <span class="ui-vertical-card__rating-number">4.1</span>
                      <span class="ui-vertical-card__rating-count">12 оценок</span>
                    </div>

                    <p class="text text_md ui-vertical-card__description">Вырезка информации о себе объемом 2-3 строки</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide horizontal-slider__slide">
              <div class="ui-vertical-card ui-vertical-card_bg-gradient">
                <a href="/" class="ui-vertical-card__overlay-link"></a>
                <div class="ui-vertical-card__wrapper">
                  <div class="ui-vertical-card__img-wrapper">
                    <div class="ui-vertical-card__img-text-icon">
                      <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                      <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                    </div>
                    <img src="./img/images/ui-horizontal-card-img-2.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  </div>

                  <div class="ui-vertical-card__content">
                    <p class="title title_5 ui-vertical-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-vertical-card__rating">
                      <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-vertical-card__rating-icon" />
                      <span class="ui-vertical-card__rating-number">4.1</span>
                      <span class="ui-vertical-card__rating-count">12 оценок</span>
                    </div>

                    <p class="text text_md ui-vertical-card__description">Вырезка информации о себе объемом 2-3 строки</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide horizontal-slider__slide">
              <div class="ui-vertical-card ui-vertical-card_bg-gradient">
                <a href="/" class="ui-vertical-card__overlay-link"></a>
                <div class="ui-vertical-card__wrapper">
                  <div class="ui-vertical-card__img-wrapper">
                    <div class="ui-vertical-card__img-text-icon">
                      <span class="title title_6 ui-vertical-card__img-text">Читать интервью</span>
                      <img src="./img/icons/icon-arrow45-white.svg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img-icon" />
                    </div>
                    <img src="./img/images/ui-horizontal-card-img-2.jpg" alt="Иванов Иван Иваныч" class="ui-vertical-card__img" />
                  </div>

                  <div class="ui-vertical-card__content">
                    <p class="title title_5 ui-vertical-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-vertical-card__rating">
                      <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-vertical-card__rating-icon" />
                      <span class="ui-vertical-card__rating-number">4.1</span>
                      <span class="ui-vertical-card__rating-count">12 оценок</span>
                    </div>

                    <p class="text text_md ui-vertical-card__description">Вырезка информации о себе объемом 2-3 строки</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="horizontal-slider__bottom">
            <div class="horizontal-slider__links">
              <a href="/" class="link-text-with-icon">
                <span class="link-text-with-icon__text">Все специалисты</span>
                <img width="18" height="18" src="./img/icons/icon-arrow45-blue.svg" alt="Все специалисты" class="link-text-with-icon__img" />
              </a>
            </div>
            <div class="swiper-scrollbar horizontal-slider__scrollbar"></div>
            <div class="horizontal-slider__navigation">
              <button class="link-with-icon horizontal-slider__navigation-item horizontal-slider__navigation-item_prev">
                <svg class="link-with-icon__icon" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 5.5H1M1 5.5L5.5 10M1 5.5L5.5 1" />
                </svg>
              </button>
              <button class="link-with-icon horizontal-slider__navigation-item horizontal-slider__navigation-item_next">
                <svg class="link-with-icon__icon" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5.5H14M14 5.5L9.5 10M14 5.5L9.5 1" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="horizontal-slider__links horizontal-slider__links_bottom">
          <a href="/" class="link-text-with-icon">
            <span class="link-text-with-icon__text">Все специалисты</span>
            <img width="18" height="18" src="./img/icons/icon-arrow45-blue.svg" alt="Все специалисты" class="link-text-with-icon__img" />
          </a>
        </div>
      </div>
    </div>

    @@include("../blocks/modules/we-will-help/we-will-help.html") @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
