<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    @@include("../blocks/modules/header/header.html") 
    <div class="news">
      <div class="container news__container">
        <div class="title news__title">БАНКИ</div>
    
        <div class="news__mobile-tags">
          <a href="#tag" class="tag news__mobile-tag">#Ипотека</a>
          <a href="#tag" class="tag news__mobile-tag">#Ипотека</a>
          <a href="#tag" class="tag news__mobile-tag">#Ипотека</a>
          <a href="#tag" class="tag news__mobile-tag">#Ипотека</a>
          <a href="#tag" class="tag news__mobile-tag">#Ипотека</a>
        </div>
    
        <div class="news__top">
          <div class="news__left">
            <p class="title title_5 news__top-left-title">Популярные новости</p>
            <div class="news__top-left-links">
              <div class="box-link news__top-left-link">
                <div class="box-link__wrapper">
                  <a href="/" class="box-link__link"></a>
                  <div class="box-link__border"></div>
                  <p class="box-link__number">01</p>
                  <p class="box-link__title">
                    Банки отказывали в выдаче <br />
                    потребкредита 75% желающих <br />
                    в марте
                  </p>
                </div>
              </div>
    
              <div class="box-link news__top-left-link">
                <div class="box-link__wrapper">
                  <a href="/" class="box-link__link"></a>
                  <div class="box-link__border"></div>
                  <p class="box-link__number">01</p>
                  <p class="box-link__title">
                    Банки отказывали в выдаче <br />
                    потребкредита 75% желающих <br />
                    в марте
                  </p>
                </div>
              </div>
    
              <div class="box-link news__top-left-link">
                <div class="box-link__wrapper">
                  <a href="/" class="box-link__link"></a>
                  <div class="box-link__border"></div>
                  <p class="box-link__number">01</p>
                  <p class="box-link__title">
                    Банки отказывали в выдаче <br />
                    потребкредита 75% желающих <br />
                    в марте
                  </p>
                </div>
              </div>
    
              <div class="box-link news__top-left-link">
                <div class="box-link__wrapper">
                  <a href="/" class="box-link__link"></a>
                  <div class="box-link__border"></div>
                  <p class="box-link__number">01</p>
                  <p class="box-link__title">
                    Банки отказывали в выдаче <br />
                    потребкредита 75% желающих <br />
                    в марте
                  </p>
                </div>
              </div>
            </div>
          </div>
    
          <div class="news__top-right">
            <div class="big-img-link news__big-img-link">
              <div class="big-img-link__wrapper">
                <a href="/" class="big-img-link__link"></a>
                <img src="./img/images/box-link-img-3.jpg" alt="Единственное жилье по закону остается у собственника" class="big-img-link__img" />
                <div class="big-img-link__overlay"></div>
    
                <div class="big-img-link__content">
                  <div class="big-img-link__tag-date">
                    <p class="text text_sm big-img-link__date">12 июня 2022</p>
                  </div>
                  <p class="title title_3 big-img-link__title">
                    СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19
                  </p>
                  <p class="text text_sm big-img-link__excerpt">
                    В период локдауна, введённого в Москве и в регионах в связи с коронавирусом, клиенты СберБанка теперь могут скачать QR-код сертификата о вакцинации или о перенесённом заболевании с помощью СберБанк Онлайн — не выходя из дома.
                  </p>
                  <img width="16" height="16" src="./img/icons/icon-arrow45-white.svg" alt="Единственное жилье по закону остается у собственника" class="big-img-link__icon" />
                </div>
                <img width="30" height="43" src="./img/icons/icon-bookmark-blue.svg" alt="Иконка" class="big-img-link__icon-bookmark" />
              </div>
            </div>
          </div>
        </div>
    
        <div class="news__bottom">
          <div class="news__bottom-left">
            <nav class="news__bottom-left-tags">
              <a href="/" class="tag news__bottom-left-tag">#Ипотека</a>
              <a href="/" class="tag news__bottom-left-tag">#Автокредит</a>
              <a href="/" class="tag news__bottom-left-tag">#Банки</a>
              <a href="/" class="tag news__bottom-left-tag">#Ипотека</a>
              <a href="/" class="tag news__bottom-left-tag">#Ипотека</a>
            </nav>
          </div>
          <div class="news__bottom-right">
            <div class="news__bottom-right-links">

              <div class="big-box-link-img big-box-link-img_alt news__bottom-right-link">
                <div class="big-box-link-img__wrapper">
                  <a href="/" class="big-box-link-img__link"></a>
                  <div class="big-box-link-img__img-wrapper">
                    <img src="./img/images/box-link-img-2.jpg" alt="Банки отказывали в выдаче потребкредита 75% желающих в марте" class="big-box-link-img__img" />
                    <div class="big-box-link-img__mobile-content">
                      <p class="title title_5 big-box-link-img__mobile-title">СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19</p>
                      <p class="big-box-link-img__mobile-date">12 июня 2022</p>
                    </div>
                  </div>
                  <div class="big-box-link-img__content">
                    <p class="title title_5 big-box-link-img__title">
                      СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19
                    </p>
                    <p class="text text_sm big-box-link-img__excerpt">
                      В период локдауна, введённого в Москве и в регионах в связи с коронавирусом, клиенты СберБанка теперь могут скачать QR-код сертификата о вакцинации или о перенесённом заболевании с помощью СберБанк Онлайн — не выходя из дома.
                    </p>
                    <div class="big-box-link-img__tag-date">
                      <p class="text text_sm big-box-link-img__date">12 июня 2022</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="big-box-link-img big-box-link-img_alt news__bottom-right-link">
                <div class="big-box-link-img__wrapper">
                  <a href="/" class="big-box-link-img__link"></a>
                  <div class="big-box-link-img__img-wrapper">
                    <img src="./img/images/box-link-img-2.jpg" alt="Банки отказывали в выдаче потребкредита 75% желающих в марте" class="big-box-link-img__img" />
                    <div class="big-box-link-img__mobile-content">
                      <p class="title title_5 big-box-link-img__mobile-title">СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19</p>
                      <p class="big-box-link-img__mobile-date">12 июня 2022</p>
                    </div>
                  </div>
                  <div class="big-box-link-img__content">
                    <p class="title title_5 big-box-link-img__title">
                      СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19
                    </p>
                    <p class="text text_sm big-box-link-img__excerpt">
                      В период локдауна, введённого в Москве и в регионах в связи с коронавирусом, клиенты СберБанка теперь могут скачать QR-код сертификата о вакцинации или о перенесённом заболевании с помощью СберБанк Онлайн — не выходя из дома.
                    </p>
                    <div class="big-box-link-img__tag-date">
                      <p class="text text_sm big-box-link-img__date">12 июня 2022</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="big-box-link-img big-box-link-img_alt news__bottom-right-link">
                <div class="big-box-link-img__wrapper">
                  <a href="/" class="big-box-link-img__link"></a>
                  <div class="big-box-link-img__img-wrapper">
                    <img src="./img/images/box-link-img-2.jpg" alt="Банки отказывали в выдаче потребкредита 75% желающих в марте" class="big-box-link-img__img" />
                    <div class="big-box-link-img__mobile-content">
                      <p class="title title_5 big-box-link-img__mobile-title">СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19</p>
                      <p class="big-box-link-img__mobile-date">12 июня 2022</p>
                    </div>
                  </div>
                  <div class="big-box-link-img__content">
                    <p class="title title_5 big-box-link-img__title">
                      СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19
                    </p>
                    <p class="text text_sm big-box-link-img__excerpt">
                      В период локдауна, введённого в Москве и в регионах в связи с коронавирусом, клиенты СберБанка теперь могут скачать QR-код сертификата о вакцинации или о перенесённом заболевании с помощью СберБанк Онлайн — не выходя из дома.
                    </p>
                    <div class="big-box-link-img__tag-date">
                      <p class="text text_sm big-box-link-img__date">12 июня 2022</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="big-box-link-img big-box-link-img_alt news__bottom-right-link">
                <div class="big-box-link-img__wrapper">
                  <a href="/" class="big-box-link-img__link"></a>
                  <div class="big-box-link-img__img-wrapper">
                    <img src="./img/images/box-link-img-2.jpg" alt="Банки отказывали в выдаче потребкредита 75% желающих в марте" class="big-box-link-img__img" />
                    <div class="big-box-link-img__mobile-content">
                      <p class="title title_5 big-box-link-img__mobile-title">СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19</p>
                      <p class="big-box-link-img__mobile-date">12 июня 2022</p>
                    </div>
                  </div>
                  <div class="big-box-link-img__content">
                    <p class="title title_5 big-box-link-img__title">
                      СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19
                    </p>
                    <p class="text text_sm big-box-link-img__excerpt">
                      В период локдауна, введённого в Москве и в регионах в связи с коронавирусом, клиенты СберБанка теперь могут скачать QR-код сертификата о вакцинации или о перенесённом заболевании с помощью СберБанк Онлайн — не выходя из дома.
                    </p>
                    <div class="big-box-link-img__tag-date">
                      <p class="text text_sm big-box-link-img__date">12 июня 2022</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="big-box-link-img big-box-link-img_alt news__bottom-right-link">
                <div class="big-box-link-img__wrapper">
                  <a href="/" class="big-box-link-img__link"></a>
                  <div class="big-box-link-img__img-wrapper">
                    <img src="./img/images/box-link-img-2.jpg" alt="Банки отказывали в выдаче потребкредита 75% желающих в марте" class="big-box-link-img__img" />
                    <div class="big-box-link-img__mobile-content">
                      <p class="title title_5 big-box-link-img__mobile-title">СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19</p>
                      <p class="big-box-link-img__mobile-date">12 июня 2022</p>
                    </div>
                  </div>
                  <div class="big-box-link-img__content">
                    <p class="title title_5 big-box-link-img__title">
                      СберБанк помогает клиентам получить QR-код сертификата вакцинированного или переболевшего Covid-19
                    </p>
                    <p class="text text_sm big-box-link-img__excerpt">
                      В период локдауна, введённого в Москве и в регионах в связи с коронавирусом, клиенты СберБанка теперь могут скачать QR-код сертификата о вакцинации или о перенесённом заболевании с помощью СберБанк Онлайн — не выходя из дома.
                    </p>
                    <div class="big-box-link-img__tag-date">
                      <p class="text text_sm big-box-link-img__date">12 июня 2022</p>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <div class="pagination news__bottom-right-pagination">
              <a href="/" class="link-with-icon pagination__step pagination__step_prev">
                <svg class="link-with-icon__icon" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 5.5H1M1 5.5L5.5 10M1 5.5L5.5 1" />
                </svg>
              </a>
    
              <div class="pagination__items">
                <a href="/" class="border-link border-link_pagination pagination__item">1</a>
                <a href="/" class="border-link border-link_pagination pagination__item pagination__item_active">2</a>
                <a href="/" class="border-link border-link_pagination pagination__item">3</a>
                <a href="/" class="border-link border-link_pagination pagination__item">4</a>
                <a href="/" class="border-link border-link_pagination pagination__item">5</a>
                <a href="/" class="border-link border-link_pagination pagination__item pagination__item_dots">...</a>
              </div>
    
              <a href="/" class="link-with-icon pagination__step pagination__step_next">
                <svg class="link-with-icon__icon" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5.5H14M14 5.5L9.5 10M14 5.5L9.5 1" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include("../blocks/modules/subscribe/subscribe.html")
    @@include("../blocks/modules/footer/footer.html")
    @@include("../blocks/modules/modals/modals.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
