<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    @@include("../blocks/modules/header/header.html")
    <div class="ui-form-with-items">
      <div class="container ui-form-with-items__container">
        <p class="title ui-form-with-items__title">ЮРИСТЫ</p>
        <p class="ui-form-with-items__description">Более 1 000 управляющих с рейтингом</p>
        <div class="ui-form-with-items__form-content">
          <div class="ui-form-with-items__form-wrapper">
            <div class="ui-form-with-items__action-btn-wrapper">
              <button class="ui-form-with-items__action-btn border-link border-link_with-icon">
                Добавить юриста
                <svg class="border-link__icon" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.5 8L14.5 8" stroke-linecap="square" stroke-linejoin="round" />
                  <path d="M7.5 1L7.5 15" stroke-linecap="square" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <form data-component="searchForm" class="search-form search-form_urists ui-form-with-items__form">
              <div data-component="searchFormHeader" class="search-form__header">
                <p class="search-form__header-title">Фильтр</p>
                <img width="13" height="13" src="./img/icons/icon-dropdown-back-blue_alt.svg" alt="Фильтр" class="search-form__header-icon" />
              </div>
              <div class="search-form__wrapper">
                <p class="search-form__title title title_4">Фильтр</p>

                <div class="ui-checkbox ui-checkbox_lg search-form__group">
                  <input id="chastnoe" class="ui-checkbox__input" type="checkbox" />
                  <button class="ui-checkbox__button">
                    <svg class="ui-checkbox__icon" width="10" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 5l3 2 5-6" />
                    </svg>
                  </button>
                  <label for="chastnoe" class="ui-checkbox__label">Частное лицо</label>
                </div>

                <div class="ui-checkbox ui-checkbox_lg search-form__group">
                  <input id="organization" class="ui-checkbox__input" type="checkbox" />
                  <button class="ui-checkbox__button">
                    <svg class="ui-checkbox__icon" width="10" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 5l3 2 5-6" />
                    </svg>
                  </button>
                  <label for="organization" class="ui-checkbox__label">Организация</label>
                </div>

                <div class="ui-checkbox ui-checkbox_lg search-form__group">
                  <input id="passport" class="ui-checkbox__input" type="checkbox" />
                  <button class="ui-checkbox__button">
                    <svg class="ui-checkbox__icon" width="10" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 5l3 2 5-6" />
                    </svg>
                  </button>
                  <label for="passport" class="ui-checkbox__label">Паспорт проверен</label>
                </div>

                <p class="search-form__title search-form__title-second title title_4">Город</p>

                <div data-title="Город" data-value='{"name": "Томск", "value": "tomsk"}' data-component="dropdown" class="dropdown search-form__group">
                  <p class="dropdown__main-item">Город</p>
                  <svg class="dropdown__icon" width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.5 4L0.468911 0.25L6.53109 0.25L3.5 4Z" />
                  </svg>
                  <nav class="dropdown__navigation">
                    <button type="button" value='{"name": "Томск", "value": "tomsk"}' class="dropdown__navigation-item">Томск</button>
                    <button type="button" value='{"name": "Иркутск", "value": "irkutsk"}' class="dropdown__navigation-item">Иркутск</button>
                    <button type="button" value='{"name": "Москва", "value": "moskva"}' class="dropdown__navigation-item">Москва</button>
                  </nav>
                </div>
              </div>
            </form>
          </div>
          <div class="ui-form-with-items__content">
            <div class="ui-form-with-items__content-sort">
              <a href="/ui-form-with-items?sortByRating" class="text text_md ui-form-with-items__content-sort-item active">По рейтингу</a>
              <a href="/ui-form-with-items?sortByReviews" class="text text_md ui-form-with-items__content-sort-item">По отзывам</a>
            </div>

            <div data-title="Сортировать по" data-value='{"name": "По рейтингу", "value": "sortByRating"}' data-component="dropdown" class="dropdown dropdown_sort ui-form-with-items__dropdown-sort">
              <p class="dropdown__main-item">Сортировать по</p>
              <svg class="dropdown__icon" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.7139 0.913727L7.11456 6.51303L1.51526 0.913727" stroke="#0C5EED" stroke-width="1.5" />
              </svg>
              <nav class="dropdown__navigation">
                <button value='{"name": "По рейтингу", "value": "sortByRating"}' class="dropdown__navigation-item">По рейтингу</button>
                <button value='{"name": "По отзывам", "value": "sortByReviews"}' class="dropdown__navigation-item">По отзывам</button>
                <button value='{"name": "По регистрации", "value": "sortByDateRegistration"}' class="dropdown__navigation-item">По регистрации</button>
              </nav>
            </div>

            <div class="ui-form-with-items__content-items">
              <div class="ui-horizontal-card ui-horizontal-card_features ui-form-with-items__content-item">
                <a href="/" class="ui-horizontal-card__overlay-link"></a>
                <div class="ui-horizontal-card__wrapper">
                  <div class="ui-horizontal-card__img-wrapper">
                    <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-horizontal-card__img" />
                    <div class="overlay-description ui-horizontal-card__overlay-description">
                      <div class="overlay-description__wrapper">
                        <div class="overlay-description__top">
                          <p class="overlay-description__top-city">Москва</p>
                        </div>
                        <div class="overlay-description__main-content">
                          <p class="title title_5 overlay-description__title">
                            Иванов Иван <br />
                            Иваныч
                          </p>
                          <div class="overlay-description__rating">
                            <img width="20" height="20" src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="overlay-description__rating-icon" />
                            <span class="overlay-description__rating-rate">4.1</span>
                            <span class="overlay-description__rating-count">12 оценок</span>
                          </div>
                          <div class="overlay-description__features">
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Банкротство физ.лиц</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">30 000 руб</span>
                            </div>
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Консультация</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">Бесплатно</span>
                            </div>
                          </div>
                        </div>
                        <div class="overlay-description__bottom"></div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-horizontal-card__content">
                    <p class="ui-horizontal-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-horizontal-card__city-rating">
                      <p class="ui-horizontal-card__city">Москва</p>
                      <div class="ui-horizontal-card__rating">
                        <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-horizontal-card__rating-icon" />
                        <span class="ui-horizontal-card__rating-number">4.1</span>
                        <span class="ui-horizontal-card__rating-count">12 оценок</span>
                      </div>
                    </div>

                    <p class="text text_md ui-horizontal-card__description">
                      Руководитель проектов по банкротству. Арбитражный <br />
                      управляющий, более 15 лет осуществляю деятельность в <br />
                      сфере банкротства юридических, физических лиц и ИП.
                    </p>

                    <ul class="ui-horizontal-card__features">
                      <li class="ui-horizontal-card__features-item">
                        <span>Банкротство физ.лиц</span>
                        <span>30 000 руб</span>
                      </li>
                      <li class="ui-horizontal-card__features-item">
                        <span>Консультация</span>
                        <span>Бесплатно</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="ui-horizontal-card ui-horizontal-card_features ui-form-with-items__content-item">
                <a href="/" class="ui-horizontal-card__overlay-link"></a>
                <div class="ui-horizontal-card__wrapper">
                  <div class="ui-horizontal-card__img-wrapper">
                    <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-horizontal-card__img" />
                    <div class="overlay-description ui-horizontal-card__overlay-description">
                      <div class="overlay-description__wrapper">
                        <div class="overlay-description__top">
                          <p class="overlay-description__top-city">Москва</p>
                        </div>
                        <div class="overlay-description__main-content">
                          <p class="title title_5 overlay-description__title">
                            Иванов Иван <br />
                            Иваныч
                          </p>
                          <div class="overlay-description__rating">
                            <img width="20" height="20" src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="overlay-description__rating-icon" />
                            <span class="overlay-description__rating-rate">4.1</span>
                            <span class="overlay-description__rating-count">12 оценок</span>
                          </div>
                          <div class="overlay-description__features">
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Банкротство физ.лиц</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">30 000 руб</span>
                            </div>
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Консультация</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">Бесплатно</span>
                            </div>
                          </div>
                        </div>
                        <div class="overlay-description__bottom"></div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-horizontal-card__content">
                    <p class="ui-horizontal-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-horizontal-card__city-rating">
                      <p class="ui-horizontal-card__city">Москва</p>
                      <div class="ui-horizontal-card__rating">
                        <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-horizontal-card__rating-icon" />
                        <span class="ui-horizontal-card__rating-number">4.1</span>
                        <span class="ui-horizontal-card__rating-count">12 оценок</span>
                      </div>
                    </div>

                    <p class="text text_md ui-horizontal-card__description">
                      Руководитель проектов по банкротству. Арбитражный <br />
                      управляющий, более 15 лет осуществляю деятельность в <br />
                      сфере банкротства юридических, физических лиц и ИП.
                    </p>

                    <ul class="ui-horizontal-card__features">
                      <li class="ui-horizontal-card__features-item">
                        <span>Банкротство физ.лиц</span>
                        <span>30 000 руб</span>
                      </li>
                      <li class="ui-horizontal-card__features-item">
                        <span>Консультация</span>
                        <span>Бесплатно</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="ui-horizontal-card ui-horizontal-card_features ui-form-with-items__content-item">
                <a href="/" class="ui-horizontal-card__overlay-link"></a>
                <div class="ui-horizontal-card__wrapper">
                  <div class="ui-horizontal-card__img-wrapper">
                    <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-horizontal-card__img" />
                    <div class="overlay-description ui-horizontal-card__overlay-description">
                      <div class="overlay-description__wrapper">
                        <div class="overlay-description__top">
                          <p class="overlay-description__top-city">Москва</p>
                        </div>
                        <div class="overlay-description__main-content">
                          <p class="title title_5 overlay-description__title">
                            Иванов Иван <br />
                            Иваныч
                          </p>
                          <div class="overlay-description__rating">
                            <img width="20" height="20" src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="overlay-description__rating-icon" />
                            <span class="overlay-description__rating-rate">4.1</span>
                            <span class="overlay-description__rating-count">12 оценок</span>
                          </div>
                          <div class="overlay-description__features">
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Банкротство физ.лиц</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">30 000 руб</span>
                            </div>
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Консультация</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">Бесплатно</span>
                            </div>
                          </div>
                        </div>
                        <div class="overlay-description__bottom"></div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-horizontal-card__content">
                    <p class="ui-horizontal-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-horizontal-card__city-rating">
                      <p class="ui-horizontal-card__city">Москва</p>
                      <div class="ui-horizontal-card__rating">
                        <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-horizontal-card__rating-icon" />
                        <span class="ui-horizontal-card__rating-number">4.1</span>
                        <span class="ui-horizontal-card__rating-count">12 оценок</span>
                      </div>
                    </div>

                    <p class="text text_md ui-horizontal-card__description">
                      Руководитель проектов по банкротству. Арбитражный <br />
                      управляющий, более 15 лет осуществляю деятельность в <br />
                      сфере банкротства юридических, физических лиц и ИП.
                    </p>

                    <ul class="ui-horizontal-card__features">
                      <li class="ui-horizontal-card__features-item">
                        <span>Банкротство физ.лиц</span>
                        <span>30 000 руб</span>
                      </li>
                      <li class="ui-horizontal-card__features-item">
                        <span>Консультация</span>
                        <span>Бесплатно</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="ui-horizontal-card ui-horizontal-card_features ui-form-with-items__content-item">
                <a href="/" class="ui-horizontal-card__overlay-link"></a>
                <div class="ui-horizontal-card__wrapper">
                  <div class="ui-horizontal-card__img-wrapper">
                    <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-horizontal-card__img" />
                    <div class="overlay-description ui-horizontal-card__overlay-description">
                      <div class="overlay-description__wrapper">
                        <div class="overlay-description__top">
                          <p class="overlay-description__top-city">Москва</p>
                        </div>
                        <div class="overlay-description__main-content">
                          <p class="title title_5 overlay-description__title">
                            Иванов Иван <br />
                            Иваныч
                          </p>
                          <div class="overlay-description__rating">
                            <img width="20" height="20" src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="overlay-description__rating-icon" />
                            <span class="overlay-description__rating-rate">4.1</span>
                            <span class="overlay-description__rating-count">12 оценок</span>
                          </div>
                          <div class="overlay-description__features">
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Банкротство физ.лиц</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">30 000 руб</span>
                            </div>
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Консультация</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">Бесплатно</span>
                            </div>
                          </div>
                        </div>
                        <div class="overlay-description__bottom"></div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-horizontal-card__content">
                    <p class="ui-horizontal-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-horizontal-card__city-rating">
                      <p class="ui-horizontal-card__city">Москва</p>
                      <div class="ui-horizontal-card__rating">
                        <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-horizontal-card__rating-icon" />
                        <span class="ui-horizontal-card__rating-number">4.1</span>
                        <span class="ui-horizontal-card__rating-count">12 оценок</span>
                      </div>
                    </div>

                    <p class="text text_md ui-horizontal-card__description">
                      Руководитель проектов по банкротству. Арбитражный <br />
                      управляющий, более 15 лет осуществляю деятельность в <br />
                      сфере банкротства юридических, физических лиц и ИП.
                    </p>

                    <ul class="ui-horizontal-card__features">
                      <li class="ui-horizontal-card__features-item">
                        <span>Банкротство физ.лиц</span>
                        <span>30 000 руб</span>
                      </li>
                      <li class="ui-horizontal-card__features-item">
                        <span>Консультация</span>
                        <span>Бесплатно</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="ui-horizontal-card ui-horizontal-card_features ui-form-with-items__content-item">
                <a href="/" class="ui-horizontal-card__overlay-link"></a>
                <div class="ui-horizontal-card__wrapper">
                  <div class="ui-horizontal-card__img-wrapper">
                    <img src="./img/images/ui-horizontal-card-img.jpg" alt="Иванов Иван Иваныч" class="ui-horizontal-card__img" />
                    <div class="overlay-description ui-horizontal-card__overlay-description">
                      <div class="overlay-description__wrapper">
                        <div class="overlay-description__top">
                          <p class="overlay-description__top-city">Москва</p>
                        </div>
                        <div class="overlay-description__main-content">
                          <p class="title title_5 overlay-description__title">
                            Иванов Иван <br />
                            Иваныч
                          </p>
                          <div class="overlay-description__rating">
                            <img width="20" height="20" src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="overlay-description__rating-icon" />
                            <span class="overlay-description__rating-rate">4.1</span>
                            <span class="overlay-description__rating-count">12 оценок</span>
                          </div>
                          <div class="overlay-description__features">
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Банкротство физ.лиц</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">30 000 руб</span>
                            </div>
                            <div class="overlay-description__feature">
                              <span class="overlay-description__feature-item overlay-description__feature-item_key">Консультация</span>
                              <span class="overlay-description__feature-item overlay-description__feature-item_value">Бесплатно</span>
                            </div>
                          </div>
                        </div>
                        <div class="overlay-description__bottom"></div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-horizontal-card__content">
                    <p class="ui-horizontal-card__title">Иванов Иван Иваныч</p>

                    <div class="ui-horizontal-card__city-rating">
                      <p class="ui-horizontal-card__city">Москва</p>
                      <div class="ui-horizontal-card__rating">
                        <img src="./img/icons/icon-star-blue.svg" alt="Иванов Иван Иваныч - оценки специалиста" class="ui-horizontal-card__rating-icon" />
                        <span class="ui-horizontal-card__rating-number">4.1</span>
                        <span class="ui-horizontal-card__rating-count">12 оценок</span>
                      </div>
                    </div>

                    <p class="text text_md ui-horizontal-card__description">
                      Руководитель проектов по банкротству. Арбитражный <br />
                      управляющий, более 15 лет осуществляю деятельность в <br />
                      сфере банкротства юридических, физических лиц и ИП.
                    </p>

                    <ul class="ui-horizontal-card__features">
                      <li class="ui-horizontal-card__features-item">
                        <span>Банкротство физ.лиц</span>
                        <span>30 000 руб</span>
                      </li>
                      <li class="ui-horizontal-card__features-item">
                        <span>Консультация</span>
                        <span>Бесплатно</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="text text_md ui-form-with-items__content-results">Показано с 1 по 20 (Всего: 1000)</p>
            <div class="pagination ui-form-with-items__content-pagination">
              <a href="/" class="link-with-icon pagination__step pagination__step_prev">
                <svg class="link-with-icon__icon" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 5.5H1M1 5.5L5.5 10M1 5.5L5.5 1" />
                </svg>
              </a>

              <div class="pagination__items">
                <a href="/" class="border-link border-link_pagination pagination__item">1</a>
                <a href="/" class="border-link border-link_pagination pagination__item">2</a>
                <a href="/" class="border-link border-link_pagination pagination__item pagination__item_active">3</a>
                <a href="/" class="border-link border-link_pagination pagination__item">4</a>
                <a href="/" class="border-link border-link_pagination pagination__item">5</a>
                <a href="/" class="border-link border-link_pagination pagination__item pagination__item_dots">...</a>
              </div>

              <a href="/" class="link-with-icon pagination__step pagination__step_next">
                <svg class="link-with-icon__icon" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5.5H14M14 5.5L9.5 10M14 5.5L9.5 1" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include("../blocks/modules/footer/footer.html")
    @@include("../blocks/modules/modals/modals.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
