$bitImgLink: '.big-img-link';

#{$bitImgLink} {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  &__wrapper {
    padding: 50px;
    @include media('<=desktop') {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:hover,
    &:focus {
      ~ #{$bitImgLink} {
        &__img {
          transform: scale(1.05) translateX(-10px);
        }
        &__content {
          #{$bitImgLink} {
            &__title {
              text-decoration-color: #fff;
            }
          }
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all 0.3s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(180deg, rgba(0, 18, 50, 0) 33.16%, rgba(0, 18, 50, 0.1) 51.61%, rgba(0, 18, 50, 0.2) 72.89%, rgba(0, 18, 50, 0.3) 100%);
    background: linear-gradient(180deg, rgba(0, 18, 50, 0) 15%, rgba(0, 18, 50, 0.1) 33.16%, rgba(0, 18, 50, 0.2) 51.61%, rgba(0, 18, 50, 0.3) 72.89%, rgba(0, 18, 50, 0.4) 100%);
  }

  &__content {
    position: relative;
    max-width: 570px;
    color: #fff;
    @include media('<=desktop') {
      max-width: unset;
    }
  }

  &__tag-date {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__tag {
    position: relative;

    display: inline-flex;
    align-items: center;

    padding: 3px 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin-right: 20px;

    z-index: 20;
    color: inherit;
    font-size: 14px;
    line-height: normal;

    @include media('<=tablet') {
      font-size: 10px;
      padding: 2px 9px;
      min-height: 22px;
    }
  }

  &__date {
    color: inherit;
    @include media('<=tablet') {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__title {
    margin-bottom: 15px;

    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: all 0.3s ease;
    @include media('<=tablet') {
      font-size: 17px;
      line-height: 25px;
    }
    @include media('<=phone') {
      margin-bottom: 0;
      padding-right: 5px;
    }
  }

  &__excerpt {
    color: inherit;
    max-width: 570px;
    @include media('<=phone') {
      display: none;
    }
  }

  &__icon {
    display: none;

    position: absolute;
    bottom: 0;
    right: 0;
    @include media('<=desktop') {
      display: inline-block;
    }
  }

  &__icon-bookmark {
    position: absolute;
    top: 0;
    left: 20px;

    display: none;
    @include media('<=tablet') {
      display: block;
    }
  }
}
