.top-news {
  &__container {
    margin-bottom: 200px;
  }

  &__title {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      margin-left: 38px;
      width: 100%;
      height: 1px;
      background-color: #dbe0e4;
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
