.have-questions {
  overflow: hidden;
  &__first-container {
  }
  &__second-container {
    position: relative;
    max-width: 1170px;
    padding: 70px 65px 90px 70px;
    background-color: $blue1;
    @include media("<=desktop") {
      padding: 20px;
    }
  }
  &__bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    @include media("<=LGdesktop") {
      width: 250px;
    }
    @include media("<=desktop") {
      display: none;
    }
  }
  &__title {
    margin-bottom: 95px;
    color: #fff;
    @include media("<=tablet") {
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: 270px 310px;
    gap: 68px 60px;
    @include media("<=tablet") {
      display: flex;
      flex-direction: column;
      gap: 30px 0;
    }
  }
  &__group {
    &_input,
    &_button {
      max-width: 270px;
      @include media("<=tablet") {
        max-width: unset;
      }
    }
  }
  &__border-link {
    width: 100%;
  }
}
