.have-questions {
  &__container {
    position: relative;
    max-width: 1170px;
    padding: 70px 65px 90px 70px;
    background-color: $blue1;
  }
  &__bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__title {
    margin-bottom: 95px;
    color: #fff;
  }
  &__form {
    display: grid;
    grid-template-columns: 270px 310px;
    gap: 68px 60px;
  }
  &__group {
    &_input,
    &_button {
      max-width: 270px;
    }
  }
  &__border-link {
    width: 100%;
  }
}
