.news {
  &__container {
    margin-bottom: 120px;
    @include media('<=tablet') {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 50px;
    @include media('<=LGdesktop') {
      margin-bottom: 20px;
    }
  }

  &__mobile-tags {
    display: none;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: 30px;
    @include media('<=desktop') {
      display: flex;
    }
  }
  &__mobile-tag {
    margin-right: 10px;
    min-height: 43px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: minmax(300px, 370px) minmax(550px, 770px);
    column-gap: 30px;
    margin-bottom: 40px;
    @include media('<=desktop') {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 30px;
    }
  }

  &__left {
  }

  &__top-left-title {
    margin-bottom: 20px;
    @include media('<=desktop') {
      margin-bottom: 10px;
    }
  }

  &__top-left-links {
  }

  &__top-left-link {
    display: flex;
    margin-bottom: 10px;
    .box-link__wrapper {
      padding-top: 19px;
      padding-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__top-right {
    @include media('<=desktop') {
      margin-bottom: 30px;
    }
  }

  &__big-img-link {
    height: 100%;
    min-height: 490px;
    @include media('<=phone') {
      min-height: 290px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: minmax(300px, 370px) minmax(550px, 770px);
    column-gap: 30px;
    @include media('<=desktop') {
      display: block;
    }
  }

  &__bottom-left {
    @include media('<=desktop') {
      display: none;
    }
  }

  &__bottom-left-tags {
    top: 10px;
    position: sticky;

    display: grid;
    gap: 20px 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  &__bottom-left-tag {
  }

  &__bottom-right {
  }

  &__bottom-right-title {
    margin-bottom: 20px;
    @include media('<=desktop') {
      margin-bottom: 10px;
    }
  }

  &__bottom-right-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    @include media('<=desktop') {
      margin-bottom: 30px;
    }
  }

  &__bottom-right-link {
    margin-bottom: 20px;
    @include media('<=desktop') {
      height: 360px;
      margin-bottom: 15px;
    }
    @include media('<=phone') {
      height: 290px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bottom-right-pagination {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #dbe0e4;
    border-bottom: 1px solid #dbe0e4;
    @include media('<=desktop') {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
