.welcome {

  &__container {
    display: grid;
    grid-template-columns: minmax(500px, 770px) 1fr;
    column-gap: 30px;
    margin-bottom: 70px;
  }

  &__left {
    height: 100%;
  }

  &__big-img-link {
    height: 100%;
  }

  &__right {
    text-align: right;
  }

  &__links {
    
  }

  &__link {
    display: block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }

  &__read-more {}
}