.welcome {
  &__container {
    display: grid;
    grid-template-columns: minmax(500px, 770px) minmax(350px, 1fr);
    column-gap: 30px;
    margin-bottom: 70px;
    @include media('<=desktop') {
      display: block;
    }
  }

  &__left {
    height: 100%;
    @include media('<=desktop') {
      margin-bottom: 15px;
    }
  }

  &__big-img-link {
    min-height: 490px;
    @include media('<=phone') {
      min-height: 290px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__links {
    margin-bottom: auto;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__read-more {
    margin-top: 15px;
    align-self: flex-end;
  }
}
