.welcome {

  &__container {
    display: grid;
    grid-template-columns: minmax(500px, 770px) 1fr;
    column-gap: 30px;
    margin-bottom: 70px;
  }

  &__left {
    height: 100%;
  }

  &__big-img-link {
    height: 100%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__links {
    margin-bottom: auto;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__read-more {
    margin-top: 15px;
    align-self: flex-end;
  }
}