.footer {
  background-color: $grey5;
  &_margin {
    margin-top: 180px;
    @include media("<=LGdesktop") {
      margin-top: 100px;
    }
    @include media("<=tablet") {
      margin-top: 60px;
    }
  }
  &__container {
    padding-top: 73px;
    padding-bottom: 25px;
    @include media("<=LGdesktop") {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 81px;
    margin-bottom: 25px;
    border-bottom: 1px solid $grey2;
    @include media("<=LGdesktop") {
      display: block;
      padding-bottom: 40px;
    }
  }

  &__logo-address-description {
    margin-right: 30px;
    flex: 0 1 475px;
    @include media("<=LGdesktop") {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
    @include media("<=LGdesktop") {
      margin-bottom: 25px;
    }
    @include media("<=tablet") {
      width: 180px;
      height: 22px;
    }
  }

  &__logo-icon {
    width: 100%;
  }

  &__address {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 20px;
    @include media("<=LGdesktop") {
      margin-bottom: 15px;
    }
  }

  &__description {
    color: $grey1;
    font-size: 12px;
    line-height: 20px;
    @include media("<=tablet") {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__navigation-callback {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    flex: 1 1 500px;
    margin-top: -10px;
    @include media("<=LGdesktop") {
      display: block;
      margin-top: 0;
    }
  }

  &__navigation {
    margin-right: 30px;
    @include media("<=LGdesktop") {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__navigation-item {
    display: block;
    margin-bottom: 25px;
    line-height: 20px;
    font-weight: 500;
    @include media("<=LGdesktop") {
      margin-bottom: 20px;
      color: $blue1;
    }
    @include media("<=tablet") {
      line-height: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__callback {
  }

  &__callback-text {
    font-size: 12px;
    line-height: 20px;
  }

  &__callback-phone {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 26px;
    line-height: 43px;
  }

  &__social-politic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-right: 30px;
    @include media("<=LGdesktop") {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__social-item {
    margin-right: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__politic {
    font-size: 12px;
    line-height: 20px;
    color: $grey1;
  }
}
