$articlesPage: '.articles-page';

#{$articlesPage} {
  &__container {
  }

  &__title {
    margin-bottom: 50px;
    @include media('<=desktop') {
      margin-bottom: 20px;
    }
  }

  &__popular-new-articles {
    display: grid;
    column-gap: 30px;
    grid-template-columns: minmax(600px, 770px) minmax(300px, 370px);
    margin-bottom: 120px;
    @include media('<=desktop') {
      display: block;
      margin-bottom: 30px;
      padding-right: 0;
    }
  }

  &__popular-articles {
    @include media('<=desktop') {
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 20px;
      @include media('<=tablet') {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 23px;
      }
    }
    &-items {
    }
    .swiper {
      overflow: visible;
      @include media('<=desktop') {
        overflow: hidden;
        padding-right: 15px;
      }
    }
    .swiper-wrapper {
      display: block;
      @include media('<=desktop') {
        display: flex;
      }
    }
    .swiper-slide {
      min-width: 100%;
      margin-bottom: 20px;
      @include media('<=desktop') {
        min-width: unset;
        margin-bottom: 0;
      }
    }
  }

  &__popular-articles-item {
    display: block;
  }

  &__new-articles {
    @include media('<=desktop') {
      padding-left: 0;
      padding-right: 15px;
    }
    &-title {
      margin-bottom: 20px;
      @include media('<=tablet') {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 23px;
      }
    }
    &-items {
    }
  }

  &__new-articles-item {
    display: block;
    margin-bottom: 10px;
    @include media('<=desktop') {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px 30px;
    margin-top: 120px;
    @include media('<=desktop') {
      gap: 60px 30px;
      margin-top: 60px;
    }
    @include media('<=tablet') {
      grid-template-columns: 1fr;
    }
  }

  &__features-col {
    overflow: hidden;
  }

  &__feature-title {
    display: flex;
    align-items: center;

    padding-top: 30px;
    border-top: 1px solid $grey3;
    margin-bottom: 20px;
    @include media('<=tablet') {
      padding-top: 0;
      border-top: 0;
    }
  }

  &__feature-icon {
    margin-right: 20px;
  }

  &__features-items {
    margin-bottom: 20px;
    @include media('<=tablet') {
      display: flex;
      overflow-x: auto;
    }
    &::-webkit-scrollbar {
      @include media('<=tablet') {
        display: none;
      }
    }
    &::-webkit-scrollbar-track {
      @include media('<=tablet') {
        display: none;
      }
    }
    &::-webkit-scrollbar-thumb {
      @include media('<=tablet') {
        display: none;
      }
    }
  }

  &__feature-item {
    margin-bottom: 10px;
    @include media('<=tablet') {
      flex: 1 0 240px;
      margin-bottom: 0;
      margin-right: 15px;
    }
    &:last-child {
      margin-bottom: 0;
      @include media('<=tablet') {
      }
    }
  }

  &__features-bottom {
    display: flex;
    @include media('<=tablet') {
      justify-content: flex-end;
    }
  }

  &__features-bottom-link {
  }
}
