$uiNews: '.ui-news';

#{$uiNews} {
  &__container {
    display: grid;
    grid-template-columns: minmax(300px, 370px) minmax(600px, 1fr);
    justify-content: space-between;
    column-gap: 30px;
    @include media('<=desktop') {
      display: block;
    }
  }

  &__title {
    @include media('<=desktop') {
      margin-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    row-gap: 30px;
    @include media('<=desktop') {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
    @include media('<=phone') {
      grid-template-columns: 1fr;
    }
  }

  &__big-box-link-img {
  }

  &_vopros-otvet {
    #{$uiNews} {
      &__container {
        margin-top: 150px;
        margin-bottom: 120px;
        @include media('<=desktop') {
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
    }
  }
  
  &_card-page {
    #{$uiNews} {
      &__container {
        margin-top: 150px;
        margin-bottom: 120px;
        @include media('<=desktop') {
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
    }
  }

  &_card-interview {
    #{$uiNews} {
      &__container {
        margin-top: 120px;
        margin-bottom: 180px;
        @include media('<=desktop') {
          margin-top: 60px;
        }
      }
    }
  }
}
