@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Regular.woff2') format('woff2'),
      url('../fonts/Mulish/Mulish-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-SemiBold.woff2') format('woff2'),
      url('../fonts/Mulish/Mulish-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Medium.woff2') format('woff2'),
      url('../fonts/Mulish/Mulish-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Bold.woff2') format('woff2'),
      url('../fonts/Mulish/Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

