$title: '.title';
$text: '.text';
$linkTextWithIcon: '.link-text-with-icon';
$linkWithIcon: '.link-with-icon';
$socialLink: '.social-link';
$borderLink: '.border-link';
$borderLinkWithIcon: '.border-link-with-icon';

$pagination: '.pagination';

$uiCheckbox: '.ui-checkbox';
$container: '.container';

#{$title} {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  br {
    @include media('<=tablet') {
      display: none;
    }
  }
  @include media('<=tablet') {
    font-size: 20px;
    line-height: 30px;
  }
  &_2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    @include media('<=tablet') {
      font-size: 18px;
      line-height: 27px;
    }
  }
  &_3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
  }
  &_4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    @include media('<=tablet') {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &_5 {
    font-size: 20px;
    line-height: 30px;
    @include media('<=tablet') {
      font-size: 17px;
      line-height: 25px;
    }
  }
  &_6 {
    font-size: 18px;
    line-height: 27px;
  }
}

#{$text} {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $black2;
  &_md {
    font-size: 16px;
    line-height: 26px;
    color: $grey1;
    @include media('<=tablet') {
      font-size: 13px;
      line-height: 21px;
    }
  }
  &_sm {
    font-size: 14px;
    line-height: 23px;
    color: $grey1;
    @include media('<=tablet') {
      font-size: 11px;
      line-height: 18px;
    }
  }
}

#{$linkTextWithIcon} {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    #{$linkTextWithIcon} {
      &__text {
        color: $blue1;
      }
      &__img {
        transform: scale(1.1);
      }
    }
  }
  &:active {
    #{$linkTextWithIcon} {
      &__text {
        text-decoration-color: $blue1;
      }
    }
  }
  &__text {
    margin-right: 21px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    transition: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    @include media('<=tablet') {
      font-size: 16px;
    }
  }
  &__img {
    transition: inherit;
    will-change: transform;
    @include media('<=tablet') {
      width: 12px;
      height: 12px;
    }
  }
  &_white {
    color: #fff;
    &:hover,
    &:focus {
      #{$linkTextWithIcon} {
        &__text {
          color: #fff;
        }
      }
    }
    &:active {
      #{$linkTextWithIcon} {
        &__text {
          text-decoration-color: #fff;
        }
      }
    }
  }
}

#{$linkWithIcon} {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 46px;
  min-height: 46px;
  max-width: 46px;
  max-height: 46px;

  border: 1px solid $grey3;
  border-radius: 50%;

  transition: all 0.3s ease;
  &__icon {
    stroke: $black1;
    transition: inherit;
  }
  &:hover,
  &:focus {
    background: $blue1;
    border-color: $blue1;
    #{$linkWithIcon} {
      &__icon {
        stroke: #fff;
      }
    }
  }
  &:active {
    background: transparent;
    border-color: $grey3;
    #{$linkWithIcon} {
      &__icon {
        stroke: $black1;
      }
    }
  }
  &.swiper-button-disabled {
    background-color: #fff;
    pointer-events: none;
    #{$linkWithIcon} {
      &__icon {
        stroke: #c4c8d2;
      }
    }
  }
}

#{$socialLink} {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;

  border: 1px solid $black2;
  border-radius: 50%;

  transition: all 0.3s ease;
  &__icon {
    transition: inherit;
    fill: $black2;
  }
  &:hover,
  &:focus {
    background: $blue1;
    border-color: $blue1;
    #{$socialLink} {
      &__icon {
        fill: #fff;
      }
    }
  }
  &:active {
    background: transparent;
    border-color: $black2;
    #{$socialLink} {
      &__icon {
        fill: $black2;
      }
    }
  }
}

#{$borderLink} {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 17px 40px;
  min-height: 60px;

  border: 1px solid $blue1;

  color: $blue1;
  line-height: normal;
  transition: all 0.3s ease;

  @include media('<=tablet') {
    min-height: 49px;
    padding: 14px 28px;
  }

  &:hover,
  &:focus {
    background-color: $blue1;
    color: #fff;
  }

  &:active {
    background-color: transparent;
    color: $blue1;
  }

  &_white {
    border-color: #fff;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #fff;
      color: $blue1;
    }

    &:active {
      background-color: transparent;
      color: #fff;
    }
  }

  &_lg {
    font-size: 18px;
    @include media('<=tablet') {
      font-size: 14px;
    }
  }

  &_with-icon {
    #{$borderLink} {
      &__icon {
        margin-left: 25px;
        stroke: $blue1;
        transition: all 0.3s ease;
      }
    }
    &:hover,
    &:focus {
      background-color: $blue1;
      color: #fff;
      #{$borderLink} {
        &__icon {
          stroke: #fff;
        }
      }
    }

    &:active {
      background-color: transparent;
      color: $blue1;
      #{$borderLink} {
        &__icon {
          stroke: $blue1;
        }
      }
    }
  }
}

#{$borderLinkWithIcon} {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 11px 13px;
  min-height: 46px;

  border: 1px solid $grey3;

  transition: all 0.3s ease;

  &__text {
    display: inline-block;
    margin-right: 12px;
    color: $blue1;
    font-size: 14px;
    line-height: normal;
  }

  &__icon {
    stroke: $blue1;
  }

  &:hover,
  &:focus {
    border-color: $blue1;
  }

  &:active {
    border-color: $grey3;
  }
}

#{$pagination} {
  display: inline-flex;
  align-items: center;

  &__step {
    &_prev {
      margin-right: 24px;
      @include media('<=tablet') {
        margin-right: 5px;
      }
    }
    &_next {
      margin-left: 24px;
      @include media('<=tablet') {
        margin-left: 5px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 18px;
    @include media('<=tablet') {
      gap: 13px;
    }
  }
  &__item {
    min-height: 42px;
    padding: 8px;
    min-width: 42px;
    max-width: 42px;

    color: $black1;
    border-color: transparent;

    @include media('<=tablet') {
      padding: 0;
      min-width: 40px;
      width: 40px;
      flex: 0 0 40px;
      height: 37px;
      min-height: 37px;
    }
    &:nth-child(3n) {
      @include media('<=tablet') {
        ~ #{$pagination} {
          &__item {
            display: none;
            &_dots {
              display: inline-flex;
            }
          }
        }
      }
    }
    &:hover,
    &:focus {
      background-color: transparent;
      color: $blue1;
    }
    &_active {
      color: #fff;
      background-color: $blue1;
      border-color: $blue1;
    }
    &_dots {
      @include media('<=tablet') {
        min-width: 30px;
        width: 30px;
        flex: 0 0 30px;
      }
    }
  }
}

#{$uiCheckbox} {
  display: inline-flex;
  transition: all 0.3s ease;

  &__input {
    position: absolute;
    pointer-events: none;
    max-width: 0;
    opacity: 0;
    margin-top: 5px;
    align-self: flex-start;
    &:checked {
      ~ #{$uiCheckbox} {
        &__button {
          background-color: $blue1;
          #{$uiCheckbox} {
            &__icon {
              opacity: 1;
              stroke: #fff;
            }
          }
        }
      }
    }
    &:not(:checked) {
      &:hover,
      &:focus {
        ~ #{$uiCheckbox} {
          &__button {
            #{$uiCheckbox} {
              &__icon {
                opacity: 1;
                stroke: $blue1;
              }
            }
          }
          &__label {
            color: $blue2;
            a {
              color: $blue2;
            }
          }
        }
      }
    }
  }

  &__label {
    position: relative;
    color: $grey4;
    font-size: 12px;
    line-height: 18px;
    transition: inherit;
    @include media('<=tablet') {
      font-size: 10px;
      line-height: 15px;
    }
    a {
      color: $grey4;
      text-decoration: underline;
      transition: inherit;
    }
    &::selection,
    a::selection {
      background-color: transparent;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      width: 16px;
      height: 16px;
      background-color: transparent;
    }
  }

  &__icon {
    display: block;
    stroke: transparent;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;

    margin-top: 2px;
    margin-right: 14px;

    border: 1px solid $blue1;
    transition: all 0.3s ease;
  }

  &_lg {
    #{$uiCheckbox} {
      &__button {
        margin-right: 20px;
        border-color: $black1;
      }
      &__label {
        font-size: 16px;
        color: $black2;
      }
      &__input {
        // &:hover,
        // &:focus {
        //   ~ #{$uiCheckbox} {
        //     &__label {
        //       color: $blue1;
        //     }
        //   }
        // }
        &:checked {
          ~ #{$uiCheckbox} {
            &__button {
              background-color: $blue1;
              border-color: $blue1;
              #{$uiCheckbox} {
                &__icon {
                  opacity: 1;
                  stroke: #fff;
                }
              }
            }
          }
        }
        &:not(:checked) {
          &:hover,
          &:focus {
            ~ #{$uiCheckbox} {
              &__button {
                border-color: $blue1;
                #{$uiCheckbox} {
                  &__icon {
                    opacity: 1;
                    stroke: #fff;
                  }
                }
              }
              &__label {
                color: $blue1;
              }
            }
          }
        }
      }
    }
  }

  &_white {
    #{$uiCheckbox} {
      &__input {
        &:checked {
          ~ #{$uiCheckbox} {
            &__button {
              background-color: #fff;
              #{$uiCheckbox} {
                &__icon {
                  opacity: 1;
                  stroke: $blue1;
                }
              }
            }
          }
        }
        &:not(:checked) {
          &:hover,
          &:focus {
            ~ #{$uiCheckbox} {
              &__button {
                #{$uiCheckbox} {
                  &__icon {
                    opacity: 1;
                    stroke: #fff;
                  }
                }
              }
              &__label {
                color: #cedffb;
                a {
                  color: #cedffb;
                }
              }
            }
          }
        }
      }
      &__label {
        color: #cedffb;
        a {
          color: #cedffb;
        }
      }
      &__button {
        border-color: #fff;
      }
    }
  }
}

#{$container} {
  max-width: calc(1170px + 40px);
  padding: 0 20px;
  margin: 0 auto;
  @include media('<=LGdesktop') {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.search-with-button {
  display: flex;
  &__search {
    flex: 1 0 300px;
    align-self: flex-end;
  }
  &__button {
    font-size: 16px;
  }
}

.example-bg-blue {
  padding: 10px;
  background-color: $blue1;
}

.example-bg-black {
  padding: 10px;
  background-color: #000;
}
